name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:


jobs:
  test_01sh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: load
        run: docker load -i mario.tar
        
        
      - name: observe
        run: docker images
        
        



        


